<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/darkly.css" />
  <link rel="stylesheet" href="/public/dashboard.css" />
  <link rel="stylesheet" href="/public/manage.css" />
  <link rel="stylesheet" href="/public/nav.css">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/r-2.2.0/datatables.min.js"></script>
  <link rel='icon' href='<%= bot.user.avatarURL %>'>
  <title>
    <%= bot.user.username %>
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">
      <img src="https://cdn.discordapp.com/avatars/<%= handler.client.user.id %>/<%= handler.client.user.avatar %>.png?size=64" width="48" height="48" class="d-inline-block align-right rounded-circle" alt="">
      <%= handler.client.user.tag%>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navToShow" aria-controls="navToShow" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navToShow" style="">
      <ul class="navbar-nav ml-auto" style="padding-top:6px;font-weight:900;align-items: center;text-transform: uppercase;">
        <% if(user) { %>
        <li class="nav-item tocenter">
          <span style="background-color: #444; border-radius: 20px">
            <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=64" width="48" height="48" class="d-inline-block align-middle rounded-circle" alt="">
            <%= user.username %>#<%= user.discriminator %>
          </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <% if(user.id === handler.config.ownerID) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">admin</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <div class="nav-breadcrumb" style="width: 100%; background-color: #202020; margin-bottom: 40px;">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <%
        pathArray = path.split("/").slice(1);
        pathArray = pathArray.map(p=> {
          if(bot.guilds.has(p)) return bot.guilds.get(p).name;
          return p.toProperCase();
        });
        let builtPath = "";
        for(let i = 0; i < pathArray.length; i++) {
          builtPath += "/"+path.split("/").slice(1)[i]; %>
        <li class="breadcrumb-item<% if((i+1) === pathArray.length) {%> active"><%= pathArray[i] %><% } else { %>"><a href="<%= builtPath %>"><%= pathArray[i] %></a><% } %></li>
        <% } %>
      </ol>
    </div>
  </div>
  <div class="container">
