<div class="container-fluid" style="background-color: #282828">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/<%= guild.id %>/manage">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/<%= guild.id %>/stats">Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/<%= guild.id %>/members">Members</a>
    </li>
  </ul>
</div>
