<%- include('../blocks/header', {bot, user, path, utils, handler}) %>
<h2>Server Management</h2>
<div class="md-auto ml-auto">
  <%- include('../blocks/guild-nav.ejs', {active: "manage", guild}) %>
  <form method="post">
    <ul class="list-group list-group-flush">
      <% const settings = utils.getSettings(handler, guild); %>
      <% for (const key in settings) { %>
      <% if(typeof settings[key] == "object") { %>
      <% for(const set in settings[key]) { %>
      <li class="list-group-item" style="padding: 0;">
        <label class="sr-only" for="<%= key %>.<%= set %>">
          <%= key %>.<%= set %>
        </label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 100%; margin: 0 !important;">
          <div class="input-group-addon" style="width: 150px; text-align: center; margin: 0;">
            <%= key %>.<%= set %>
          </div>
          <%if(key == 'roles') {%>
          <select class="browser-default custom-select form-control" style="text-align: left;" name="<%= key %>.<%= set%>" id="<%= key %>.<%= set%>" placeholder="Enter <%= key %>.<%= set%>">
            <option selected="">Please Select</option>
            <% guild.roles.array().forEach(role => {%>
            <%if(role.name == "@everyone") return %>
            <%if(role.name == settings[key][set]) { %>
            <option selected="<%= role.name %>"><%= role.name%></option>
            <%} else {%>
            <option value="<%= role.name %>"><%= role.name%></option>
            <%}%>
            <%})%>
          </select>
          <%} else if(set == "channel"){%>
          <select class="browser-default custom-select form-control" style="text-align: left;" name="<%= key %>.<%= set%>" id="<%= key %>.<%= set%>" placeholder="Enter <%= key %>.<%= set%>">
            <option selected="">Please Select</option>
            <% guild.channels.array().forEach(channel => {%>
            <%if(channel.type == "category") return %>
            <%if(channel.type == "voice") return %>
            <%if(channel.name == settings[key][set]) { %>
            <option selected="<%= channel.name %>"><%= channel.name%></option>
            <%} else {%>
            <option vlaue="<%= channel.name %>"><%= channel.name%></option>
            <%}%>
            <%})%>
          </select>
          <%} else if(set == "message") {%>
          <input type="text" class="form-control" style="text-align: left;" name="<%= key %>.<%= set%>" id="<%= key %>.<%= set%>" value="<%= settings[key][set] %>" placeholder="Enter <%= key %>.<%= set%>">
          <%} else if(set == "enabled") {%>
          <select class="browser-default custom-select form-control" style="text-align: left;" name="<%= key %>.<%= set%>" id="<%= key %>.<%= set%>" placeholder="Enter <%= key %>.<%= set%>">
            <% if(settings[key][set] == "true") {%>
            <option selected="true">true</option>
            <option value="false">false</option>
            <% } else { %>
            <option value="true">true</option>
            <option selected="false">false</option>
            <%}%>
          </select>
          <%}%>
        </div>
      </li>
      <%}%>
          <%} else {%>
      <li class="list-group-item" style="padding: 0;">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 100%; margin: 0 !important;">
          <label class="sr-only" for="<%= key %>">
            <%= key %>
          </label>
          <div class=" input-group-addon" style="width: 150px; text-align: center; margin: 0;">
            <%= key %>
          </div>
          <input type="text" class="form-control" style="text-align: left;" name="<%= key %>" id="<%= key %>" value="<%= settings[key] %>" placeholder="Enter <%= key %>">
        </div>
      </li>
      <%}%>
      <%}%>
    </ul>
    <div style="width: 100%; text-align: right; margin-top: 20px;">
      <a class="btn btn-danger" data-toggle="modal" data-target="#settingsResetModal" role="button">Reset Defaults <i class="fa fa-fw fa-cogs" aria-hidden="true"></i></a>
      <button type="submit" class="btn btn-primary">Save Changes <i class="fa fa-fw fa-save" aria-hidden="true"></i></button>
    </div>
  </form>
</div>
<% include ../blocks/guild-modals %>
<script type="text/javascript">
  var ts = parseInt($('#guildCreate').text());
  $('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);
</script>
<% include ../blocks/footer %>
